<%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="commLabel">
    <p class="titreLabel"><%= f.label :nom %></p>
    <%= f.text_field :commentateur %>
  </div>
  
  <div class="commLabel">
    <p class="titreLabel"><%= f.label :email %></p>
    <%= f.text_field :email %>
  </div>
  
  <div class="commLabel">
    <p class="titreLabel"><%= f.label :website %></p>
    <%= f.text_field :website %>
  </div>  
  
  <div id="commBox">
    <%= f.text_area(:commentaire, rows: 7, cols:90) %>
  </div>

  <div class="bouton">
    <%= f.submit 'Poster' %>
  </div>
  <div class="bouton"> 
    <%= f.submit 'Annuler' %>
  </div>
  
<% end %>
