<% @article.reverse_each do |article| %>

  <div class="titre link">
    <%= link_to article.titre.upcase, article_path(article) %>
  </div>
  
  <hr class="titreHr">
  <div class="container">
	  <div class="colonneLike">
		  <%= image_tag("date.jpg", class: "fleur") %>
	  </div>
	  
	  <% contenuRestant = 2 %>
	  <% article.contenus.each do |content| %>
		<div class="contenu">
		  <% case content.type %>
			<% when 'Texte' && contenuRestant == 1 %>
			  <%= content.texte.from(0).to(100) %>
			<% when 'Texte' && contenuRestant == 2 %>
			  <%= content.texte %>        
			<% else content.type == 'Image' %>
			  <%= image_tag content.texte, class: "photo" %>  
		  <% end %>
		  <script>
			$('img').bind('contextmenu', function(e) {
			  return false;
			  });
		  </script>
		</div>
		<% contenuRestant = contenuRestant - 1 %>
		<% break if contenuRestant == 0 %>
	  <% end %>
  </div>
  
  <hr class="titreHr">

<% end %>
