<div class="titre link">
	<%= render 'titre' %>
</div>

<hr class="titreHr">

<div class="container">
  <div class="colonneLike">
    <%= image_tag("fleur2.jpg", class: "fleur") %>
  </div>

	<%= render 'article' %>
</div>

<div style="text-align:left ; padding-left:0% ; margin-top:2%">
	<div class="fb-like" 
	data-href="@article_path" 
	data-layout="standard" 
	data-action="like" 
	data-show-faces="true" 
	data-share="true">
	</div>
</div>

<hr class="titreHr">

<% @article.comments.reverse_each do |commentaire| %>
  <div class="commPseudo">
    <i>Le <%= commentaire.created_at.strftime("%d-%m-%Y") %>, </i>
    <strong><%= commentaire.commentateur %></strong> a posté
  </div>

  <div class="comm">
    " <%= commentaire.commentaire %> "
  </div>
<% end %>

<hr class="titreHr">

<h2>Ajouter un commentaire</h2>
<%= render 'comments/form' %>
