<!DOCTYPE html>
<html>
<head>
  <title>CLT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "favicon.jpg" %>
</head>
<body>	
	<div id="bannière">
		<div>
			<%= image_tag("banniere.jpg", usemap: "#bannieremap") %>
			<map name="bannieremap">
				<area shape="rect" coords="650,0,790,195" href=<%= articles_path %>>
			</map>
		</div>	
	</div>

	<hr style="width:60%; color:lightgray">

	<div id="coeur">
		<%= yield %>
	</div>
	<div id="colonneD">
		<p class="epicfont">+ Follow me +</p>
		<%= link_to image_tag("fbaqua.jpg", class: "social_logo"), "https://www.facebook.com/CathyLeThanhPhotography?fref=ts", :target => "_blank" %> 
		<%= image_tag("twaqua.jpg", class: "social_logo") %> 
		<%= link_to image_tag("pinaqua.jpg", class: "social_logo"), "https://fr.pinterest.com/lelendyl/", :target => "_blank" %> 
		<%= image_tag("Instaaqua.jpg", class: "social_logo") %> 
	</div>
	
</body>
</html>
